<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kanji cards</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
    <body>
        <div class="container">
            <main>
                <h1>Kanji cards</h1>
                <img 
                src="https://nihongoflashcards.com/wp-content/uploads/2019/09/raku1.jpg"
                alt="Image of a Kanji"
                >
                <div class="button-container">
                    <a href="/hiragana"><button>Hiragana</button></a>
                    <a href="/katakana"><button>Katakana</button></a>
                </div>
            </main>
        </div>
        <footer>
            <p>© Vinicius Costa 2023</p>
        </footer>
    </body>
</html>