<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Katakana</title>
        <link rel="stylesheet" href="../public/css/styles.css">
        <link rel="stylesheet" href="../public/css/game.css">
        <script src="../public/js/verify.js"></script>
    </head>
    <body>
        <div class="container">
            <main>
                <h1>Katakana</h1>
                <p id="message"></p>
                <!-- <p class="kanji">え</p> -->
                <p class="kanji"><%= char.japanese %></p>
                <form id="form">
                    <h2><label name="answerLabel" id="answerLabel" for="answer">What it sounds like?</label></h2>
                    <input name="answer" id="answer" type="text" placeholder="In Rōmaji..." required>
                    <button type="submit" name="submit">Send</button>
                </form>
            </main>
        </div>
        <footer>
            <p>© Vinicius Costa 2023</p>
        </footer>

        <script>
            verifyAnswer();
        </script>
    </body>
</html>