.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.value {
    font-size: 55px;
}

.restart {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 50px;
}

.home {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -20px;
}